@page "{id:int}"
@model RazorPagesCRUDApp.Pages.EditModel
@{
}

<h1>Edit Employee</h1>

<form method="post">
    <table>
    <tr>
            <td><label asp-for="emp.Ecode"></label></td>
            <td><input asp-for="emp.Ecode" readonly /></td>
    </tr>
    <tr>
            <td><label asp-for="emp.Ename"></label></td>
            <td><input asp-for="emp.Ename" /></td>
    </tr>
    <tr>
            <td><label asp-for="emp.Salary"></label></td>
            <td><input asp-for="emp.Salary" /></td>
    </tr>
    <tr>
            <td><label asp-for="emp.Deptid"></label></td>
            <td><input asp-for="emp.Deptid" /></td>
    </tr>
        <tr>
            <td></td>
            <td>
                <input type="submit" value="Save" />
            </td>
        </tr>
    </table>
</form>
