@page

@model IndexModel

@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>This is my first Hello World Razor Page Application</h2>
</div>
