
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h3>Welcome to My First MVC Application</h3>
<h4>@ViewData["msg"].ToString()</h4>