@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    // var accnum = (int)ViewData["accnum"];
    TempData.Keep();
    var y = @TempData["y"].ToString();
}

<h2>This is Display Page</h2>

<p>Y=@y</p>


@using(Html.BeginForm("InfoPage","Home"))
{
 @*    @Html.Hidden("accnum", accnum) *@
    <input type="submit" />
}