@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    TempData.Keep();
    var y = @TempData["y"].ToString();
}
<p>Title:@ViewBag.Title</p>

<p>Y=@y</p>

<p>Your account number is :@ViewData["accnum"].ToString()</p>